header{
background:#020617;
padding:15px 60px;
position:fixed;
width:100%;
}
nav{
      display: flex;
      justify-content: space-around;
      align-items:center;
      
}
.logo{
color:yellowgreen;
}
.nav-links {
      display: flex;
      list-style:none;
      
}
.nav-links li{
      margin-left: 20px;
}
.nav-links a{
      text-decoration :none;
      color: white;
      
}
.hero{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      text-align:center;
      
      
}
.profile{
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border:4px solid yellowgreen;
      margin-top:20px;
      
}
.hero span{
      color: yellowgreen;
}
.hero-buttons{
      margin-top: 20px;
      
}
.hero button{
      padding:10px 25px;
      border: none;
      background: yellowgreen;
      color: white;
      cursor: pointer;
      border-radius: 5px;          
}
.resume-btn{
      background:#22c55e;
      margin-left: 10px;
      
}
#about-para{
      margin-top: 15px;
      width: 100%;
      border:none;
      font-size:18px;
      text-align:justify;
      
      
}
section{
      padding: 100px 60px;
      text-align: center;
}
.skill-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;     
}
.skill{
      background:#38bdf8;
padding:15px 30px;
margin:10px;
}
.project-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;     
}
.project-card{
      background:#38bdf8;
      padding:20px;
      margin:15px;
      width: 250px;
      border-radius: 10px;
      transition:0.3sec;
      
}
.project-card:hover{
      transform:scale(1.05);
}
.project-card a{
      text-decoration: none;
      color: darkblue;
      position: relative;
      top: 6px;
     
}
.social-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;     
}
 .social a{
  display:inline-block;
  background:#38bdf8;
  padding:15px 30px;
  margin:10px;
  text-decoration:none;
  color:black;
  border-radius:10px;
  cursor:pointer;
  transition:transform 0.3s;
  opacity:0;
  transform:scale(0);

  animation: popup 3.1s ease forwards infinite alternate;
  animation-delay:1s;
}



.social a:hover{
      transform: scale(1.1);
}
@keyframes popup{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  70%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.my-footer{
background:black;
padding:20px;
text-align:center;
color: whitesmoke;

}
.light{
background:white;
color:black;
}

.light header{
background:#ddd;
}

.light .project-card{
background:#f1f1f1;
}

.light .skill{
background:#eee;
}
#my-mail{
      text-decoration: none;
      color: darkblue;
      
}
